<html>
  <head>
<style>
body {
  <%= b_color %> 
}

</style>
  
  </head>

  <body>
    <p> <%= number %> </p>
    <p>You have <%= count %> guesses remaining</p>
    <p> <%= message %> </p>
    <form>
      <input type='text' name='guess' /> <%# creates textbox %>
    <input type='submit' value='Guess!' /> <%# creates submit button %>
    </form>
  </body>
</html

